.settings {
  display: block;
  float: right;
  margin-right: 2vmin;
}

.settingsGear {
  background-color: white;
  mask: url(../../../../public/Assets/icons/options.svg) no-repeat center;
  margin-top: 1vmin;
  width: 4vmin;
  height: 4vmin;
  transition: all .2s ease-in-out;
}

.settingsGear:hover {
  background-color: #4fb3bf;
  transform: scale(1.15);
  transition: all .2s ease-in-out;
}