.Chessboard{
    display: grid;
    grid-template-columns: repeat(8, 10vmin);
    grid-template-rows: repeat(8, 10vmin);
    width: 80vmin;
    height: 80vmin;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
}

.Chessboard.Rotated{
    transform:rotate(180deg);
    transition: 500ms;
}

#arrowCanvas{
    position: absolute;
    width: 80vmin;
    height: 80vmin;
    pointer-events: none;
}

#modals{
    position: absolute;
    pointer-events: none;
    width: 80vmin;
    height: 80vmin;
    z-index: 20;
}