.Chessboard{
    display: grid;
    grid-template-columns: repeat(8, 10vmin);
    grid-template-rows: repeat(8, 10vmin);
    width: 80vmin;
    height: 80vmin;
    background-color: #FFFFFF;
}

#arrowCanvas{
    position: absolute;
    width: 80vmin;
    height: 80vmin;
    pointer-events: none;
}