.timer{
    display: flex;
    width: fit-content;
    height: 100%;
    padding: 1vmin;
}

.timer > h2{
    display: inline;
    font-size: 2.5vmin;
    color: white;
}

.timer > .timer_icon{
    height: 70%;
    margin-right: 1.5vmin ;
    margin-top: .5vmin ;
}

.timer > .timer_icon.active{
    filter: drop-shadow(0 0 10px #4fb4bf);
    content: url("../../../public/Assets/icons/timea.svg");
    margin-top: .2vmin ;
    height: 90%;
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}