.mainContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 2vmin;
}

.buttonsContainerCreate {
    height: 80vmin;
    position: relative;
    flex-basis: 100%;
    margin-top: 5vmin;
}

.boardContainerCreate {
    margin-top: 5vmin;
    flex: 1;
    min-width: 80vmin;
    max-width: 80vmin;
    justify-content: center;
}

.timeInput {
    border: 0px;
    outline: none;
    width: 250px;
}

.time-btn,
.opponent-btn {
    background-color: #1b1b1b;
    color: white;
    width: 300px;
    height: 50px;
    font-size: larger;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 25%);
    margin-top: 10px;
}

.time-btn:hover,
.opponent-btn:hover {
    color: black;
    background-color: #4fb3bf;
    box-shadow: 0 0 10px #4fb3bf;
}

.time-box {
    max-width: 300px;
    min-height: 50px;
}
.play-btn {
    background-color: #ff5f52;
    color: white;
    width: 300px;
    height: 50px;
    font-size: larger;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 25%);
    margin-top: 20px;
}

.play-btn:hover {
    color: black;
    background-color: #4caf50;
    box-shadow: 0 0 10px #4caf50;
}

.time-btn:focus,
.opponent-btn:focus,
.play-btn:focus {
    box-shadow: none;
}

.fa {
    color: white;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.list-group {
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.list-group-item {
    border: none;
    background-color: #272727;
    width: fit-content;
}

@media all and (min-width: 1000px) {
    .buttonsContainerCreate {
        min-height: 80vmin;
        max-height: 80vmin;
        max-width: 33vw;
    }
}
