.FreeboardContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
  background-color: white;
  padding: 2vmin;
}

.BoardContainer {
  flex:1;
  display: flex;
  order:1;
  min-width: 80vmin;
  max-width: 80vmin;
  margin-right: 2vmin;
  justify-content:center;
}

.EvaluationBar {
  flex:1;
  order: 2;
  margin-top: 0;
  margin-right: 2vmin;
  height: 80vmin;
  min-width: 3vmin;
  max-width: 6vmin;
  background-color: #1b1b1b;
  color: #1b1b1b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2em;
  position: relative;
}

.EvaluationBar::after{
  transform: translateY(calc(.3em - 100%));
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2em;
  content: attr(data-eval);
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: .3em;
  top: calc(100% - .6em);
  height: calc((50 + (var(--eval)*3))*1%);
  min-height: 2rem;
  max-height: calc(100% - .6em);
  width: calc(100% - .6em);
  border-radius: 2em;
}

.StockfishContainer {
  flex-basis: 100%;
  order:3;
  color:white;
  text-align: center;
  background-color: #1b1b1b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
  margin-top: 2vmin;
  padding: 4vmin;
}

.NavigatePositionContainer {
  flex-basis: 100%;
  order: 4;
  color:white;
  text-align: center;
  background-color: #1b1b1b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
  margin-top: 2vmin;
  padding: 4vmin;
}

.divTitle{
  font-size: 4vmin;
  margin-bottom: 2vmin;
}

.form-control, .alert{
  font-size: 2vmin;
}

.btn {
  font-size: 2vmin;
  padding: 1vmin;
  margin: 0;
  cursor: pointer;
}

.pre{
  font-size: 2vmin;
  font-weight: 900;
  margin: 1.1vmin;
}

@media all and (min-width: 1100px) {

  .StockfishContainer {
    min-width: 30vmin;
    max-width: 60vmin;
    flex: 1;
    margin-top: 0;
    height: 80vmin;
  }
}