.FreeboardContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
}

.BoardContainer {
  flex:1;
  display: flex;
  order:2;
  min-width: 80vmin;
  max-width: 80vmin;
  margin-right: 2vmin;
  justify-content:center;
}

.EvaluationBar.Rotated{
  transform: rotate(180deg);
}

.EvaluationBar.Rotated > .bar > .eval{
  transform: rotate(180deg);
}

.EvaluationBar {
  flex:1;
  order: 3;
  margin-top: 0;
  margin-right: 2vmin;
  height: 80vmin;
  min-width: 3vmin;
  max-width: 6vmin;
  background-color: #1b1b1b;
  color: #1b1b1b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2em;
  position: relative;
}

.EvaluationBar.Negative {
  background-color: white;
  color: white;
}

.EvaluationBar > .bar{
  font-size: 1.5vmin;
  font-weight: bold;
  transform: translateY(calc(.3em - 100%));
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: .3em;
  top: calc(100% - .6em);
  height: calc(var(--eval)*1%);
  min-height: 2rem;
  max-height: calc(100% - .6em);
  width: calc(100% - .6em);
  border-radius: 0 0 2em 2em;
}

.EvaluationBar.Negative > .bar{
  height: calc((100 - var(--eval))*1%);
  transform: none;
  background-color: #1b1b1b;
  top: .3em;
  border-radius: 2em 2em 0 0;
}

.EvaluationBar.Mate > .bar{
  border-radius: 2em;
}

.EvaluationBar > .bar > .eval{
  position: relative;
  top: 1vmin;
}

.EvaluationBar.Negative > .bar > .eval{
  top: calc(100% - 3.5vmin);
}

.EvaluationBar[disabled] > .bar{
  display: none;
  pointer-events: none;
  min-width: 0;
  max-width: 0;
  margin: 0;
}
.EvaluationBar[disabled]{
  background-color: transparent;
  box-shadow: none;
  min-width: 0;
  max-width: 0;
  margin: 0;
}

.StockfishContainer {
  position: relative;
  flex-basis: 100%;
  order:4;
  color:white;
  text-align: center;
  background-color: #1b1b1b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
  margin-top: 2vmin;
  margin-right: 2vmin;
  margin-left: 2vmin;
  padding: 2vmin;
}

.depthProgressContainer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #00838f, #00838f calc(var(--progress)*1%), #ff5f52 calc(calc((var(--progress)*1%)) + 5%));
}

.depthProgressContainer[disabled]{
  display: none;
  pointer-events: none;
}

.depthProgressContainer > label, #depthProgress{
  color: black;
  font-weight: 500;
  margin-left: .5rem;
}

.MovesContainer {
  flex-basis: 100%;
  order:4;
  color:white;
  text-align: center;
  background-color: #1b1b1b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
  margin-top: 2vmin;
  margin-left: 2vmin;
  margin-right: 2vmin;
  padding: 2vmin;
}

.containerTitle{
  display: block;
  float: center;
  font-size: 3vmin;
  padding-bottom: 2vmin;
}

.containerTitle.left{
  float: left;
}

.form-control{
  border-radius: .5em;
  font-size: 2vmin;
}

.form-control:focus{
  box-shadow: none;
  border: none;
}

.btnIn{
  background-color: white;
  font-size: 2vmin;
  cursor: pointer;
  padding: .5em 1em;
  color: #4A5568;
  border: 0px solid #A0AEC0;
  margin: .1em;
  box-shadow: 0 0 0 #BEE3F8;
  transition: background .2s ease, color .2s ease, box-shadow .2s ease, transform .2s ease;
}

.btnIn:last-child{
  border-radius: 0 1em 1em 0;
}

.btnIn:hover{
  background: #4fb3bf;
  color: #fff;
  box-shadow: 0 0 0.8em 0 #4fb4bfb9;
  transform: scale(1.1);
}

.pre{
  height: 100%;
  transform: translateY(1.8vmin);
  padding-left: 1vmin;
  padding-right: 1vmin;
  color: #1b1b1b;
  font-size: 2vmin;
  font-weight: 900;
}

.multi-button{
  margin-top: 3vmin;
}

.mbutton{
  font-size: 2vw;
  padding: 1vmin .5vmin;
  background: #fff;
  color: black;
  border: 0px solid #A0AEC0;
  margin: .1em;
  transition: background .2s ease, color .2s ease, box-shadow .2s ease, transform .2s ease;
  box-shadow: 0 0 0 #BEE3F8;
  transform: translateY(0);
}
.mbutton:first-of-type{
  border-radius: .5em 0 0 .5em;
}
.mbutton:last-of-type{
  border-radius: 0 .5em .5em 0;
}
.mbutton img{
  color: #A0AEC0;
  margin: .3em;
  transition: all .2s ease-out;
}

.multi-button:hover .mbutton:hover{
  background: #4fb3bf;
  box-shadow: 0 0 0.8em 0 #4fb4bfb9;
  transform: translateY(-.2em);
}
.multi-button:hover .mbutton img{
  color: #CBD5E0;
}
.multi-button:hover .mbutton:hover img{
  color: #FED7E2;
  transform: rotate(-10deg);
}

.img_icon{
  width: 3vmin;
  height: 3vmin;
}

.img_icon_big{
  width: 4vmin;
  height: 4vmin;
}

.MoreStuffContainer {
  flex-basis: 100%;
  order: 5;
  color:white;
  text-align: center;
  background-color: #1b1b1b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
  margin-top: 2vmin;
  padding: 2vmin;
}

@media all and (min-width: 1100px) {
  .MovesContainer {
    order:1;
    min-width: 30vmin;
    max-width: 60vmin;
    flex: 1;
    margin-top: 0;
    height: 80vmin;
  }
  .mbutton{
    font-size: 80%;
  }
}

@media all and (min-width: 1400px) {
  .StockfishContainer {
    min-width: 30vmin;
    max-width: 60vmin;
    flex: 1;
    margin-top: 0;
    margin-left: 0;
    height: 80vmin;
  }
}