.FreeboardContainer {
  background-color: white;
  align-items: center;
  padding: 2vmin;
}

.BoardContainer {
  display:flex;
  min-width: 80vmin;
  justify-content:center;
  align-items:center;
  vertical-align: middle;
}

.NavigatePositionContainer {
  color:white;
  text-align: center;
  background-color: #1b1b1b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
  height: 80vmin;
  margin-top: 2vmin;
  padding: 4vmin;
}

.StockfishContainer {
  color:white;
  text-align: center;
  background-color: #1b1b1b;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
  height: 80vmin;
  margin-top: 2vmin;
  padding: 4vmin;
}

.btn {
  font-size: 1.5vh;
  margin: 0;
  cursor: pointer;
}

@media all and (min-width: 1000px) {
  .FreeboardContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .StockfishContainer {
    flex: 1;
    order: 1;
    margin-top: 0;
  }

  .BoardContainer {
    justify-content:right;
    flex: 2;
    order: 2;
  }

  .NavigatePositionContainer {
    flex-basis: 100%;
    order: 3;
  }
}

@media all and (min-width: 1300px) {
  .FreeboardContainer {
    flex-wrap: nowrap;
  }

  .StockfishContainer {
    flex-basis: 25%;
    order: 1;
    margin-top: 0;
  }

  .BoardContainer {
    justify-content:center;
    flex-basis: 45%;
    order: 2;
  }

  .NavigatePositionContainer {
    flex-basis: 25%;
    order: 3;
    margin-top: 0;
  }
}