.center {
    text-align: center;
}

.gameRow {
    font-size: 2vmin;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #272727;
    color:white;
    border-radius: 2vmin;
    padding: 2vmin;
}

.gameContent {
    flex:1;
    display: inline;
    margin-right: 2vw;
}

.gameJoinButton {
    flex:1;
    display: inline;
    float: right;
}

.gameJoinButton > * {
    background-color: #4fb4bf;
    border-radius: 1vmin;
    color: black;
    padding: 1vmin;
}

.gameJoinButton > *:hover {
    box-shadow: 0 0 10px #4fb3bf;
    color:black;
}

.create-game-btn {
    background-color: #1b1b1b;
    color: white;
    width: 300px;
    height: 50px;
    font-size: larger !important;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%), 0 6px 20px 0 rgb(0 0 0 / 25%);
    margin-top: 20px;
}

.create-game-btn:hover,
.create-game-btn:focus {
    color: black;
    background-color: #4fb4bf;
    box-shadow: 0 0 10px #4fb3bf;
}