.cameraAndControlsHolder{
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 13.1%;
    margin-bottom: 1vmin;
    transition: filter 100ms;
}

.cameraAndControlsHolder:hover{
    filter: brightness(60%);
    transition: filter 200ms;
}

.camera {
    width: 100%;
    height: 100%;
    background-color: #313131;
    border-radius: 1vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control{
    position: absolute;
    width: 35%;
    bottom: 0;
    transform: scale(0);
    transition: transform 100ms;
    border-radius: 50%;
    transform-origin:bottom;
    padding-top: .5vmin;
    padding-bottom: .5vmin;
}

.cameraAndControlsHolder:hover > .control{
    transform: scale(.8) translateY(-100%);
    transition: transform 200ms;
}

.toggleMicrophone{
    content: url(../../../public/Assets/icons/microphone-solid.svg);
    left: 0;
}

.toggleMicrophone.toggle{
    content: url(../../../public/Assets/icons/microphone-slash-solid.svg);
}

.toggleCamera{
    content: url(../../../public/Assets/icons/video-solid.svg);
    right: 0;
}

.toggleCamera.toggle{
    content: url(../../../public/Assets/icons/video-slash-solid.svg);
}

.toggle{
    background-color: #ff6152;
    transform: scale(.5) translateY(-20%);
}

.toggleBoard{
    content: url(../../../public/Assets/icons/board-slash.svg);
    left:50%;
    transform: translateX(-50%) scale(0);
}

.toggleBoard.toggle{
    background-color: #4fb4bf;
    transform: translateX(-50%) scale(.5) translateY(-20%);
    content: url(../../../public/Assets/icons/board.svg);
}

.cameraAndControlsHolder:hover > .control.toggleBoard{
    transform: translateX(-50%) scale(.8) translateY(-100%);
}