.maincontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.cameras {
    display: flex;
    flex-direction: column;
    height: 80vmin;
    width: 15vmin;
    overflow-y: scroll;
    cursor: pointer;
    margin-left: 2vmin;
    margin-right: 2vmin;
}

.cameras::-webkit-scrollbar {
    display: none;
}

.roomBoardContainer{
    flex: 1;
    min-width: 80vmin;
    max-width: 80vmin;
    justify-content: center;
}

.roomSettingsContainer{
    flex-basis: 100%;
    color: white;
    background-color: #1b1b1b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
    padding: 2vmin;
    margin-top: 2vmin;
    margin-left: 2vmin;
    margin-right: 2vmin;
}

.fenLoaderContainer{
    flex-basis: 100%;
    color:white;
    text-align: center;
    background-color: #1b1b1b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
    margin-top: 2vmin;
    padding: 2vmin;
}

@media all and (min-width: 1100px) {
    .roomSettingsContainer {
        flex: 1;
        min-width: 10vw;
        margin-top: 0;
        height: 80vmin;
    }
  }