.maincontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1vmin;
}

.cameras {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 10vw;
    overflow-y: scroll;
    cursor: pointer;
}

.cameras::-webkit-scrollbar {
    display: none;
}

.roomBoardContainer{
    margin-left: 2vmin;
    flex: 1;
    min-width: 80vmin;
    max-width: 80vmin;
    justify-content: center;
}

.roomSettingsContainer{
    flex: 1;
    color: white;
    background-color: #1b1b1b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
    padding: 2vmin;
    height: 80vmin;
    min-width: 30vw;
    margin: 2vmin;
}