div.gameMovesContainer{
  margin-bottom: 3vmin;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: space-between;
  align-content: flex-start;
}

div.gameMovesContainer::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 1vmin rgba(0,0,0,.6);
	border-radius: 10px;
	background-color: white;
}

div.gameMovesContainer::-webkit-scrollbar
{
	width: 12px;
	background-color: #1b1b1b;
}

div.gameMovesContainer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 1vmin rgba(0,0,0,.6);
	background-color: #4fb4bf;
}

div.gameMovesContainer > span.gameMove{
  margin: 1%;
  border-radius: 2rem;
  background-color: #fff;
  color: #1b1b1b;
  flex-basis: 47%;
  font-size: 2.5vmin;
  height: 4vmin;
  text-align: center;
  box-shadow: inset 0 0 1vmin black;
}

div.gameMovesContainer > span.gameMove:nth-child(even){
  background-color: black;
  box-shadow: inset 0 0 1vmin rgba(255, 255, 255, 0.5);
  color: #fff;
}

div.gameMovesContainer > span.gameMove::before{
  content: "";
  display: inline-block;
  width: 3vmin;
  height: 3vmin;
  transform: translate(-2vmin, .5vmin);
}

div.gameMovesContainer > span.gameMove.best::before{
  background-image: url("../../../../public/Assets/icons/1_best.svg");
}
div.gameMovesContainer > span.gameMove.good::before{
  background-image: url("../../../../public/Assets/icons/2_good.svg");
}
div.gameMovesContainer > span.gameMove.inaccurate::before{
  background-image: url("../../../../public/Assets/icons/3_inaccurate.svg");
}
div.gameMovesContainer > span.gameMove.mistake::before{
  background-image: url("../../../../public/Assets/icons/4_mistake.svg");
}
div.gameMovesContainer > span.gameMove.blunder::before{
  background-image: url("../../../../public/Assets/icons/5_blunder.svg");
}

@media all and (min-width: 1150px) {
  div.gameMovesContainer.resize{
    height: 60vh;
  }
}