.sliderContainer {
    display: inline-block;
}

.sliderLabel{
    width: 50px;
    margin: 20px;
}

.valueContainer {
    position: relative;
    display: block;
    text-align: center;
    font-size: 17px;
    width: 25px;
    height: 25px;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    background: #4fb3bf;
    margin-bottom: 5px;
}

.valueDisplay {
    transform: rotate(45deg);
}

.minmax{
    font-size: .7em;
    margin-bottom: 50px;
}

.min{
    float:left
}
.max{
    float:right
}

.slider {
    -webkit-appearance: none;
    width: 280px;
    height: 5px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #4fb3bf;
    cursor: pointer;
  }
