.Piece{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95px;
}

.Piece:hover{
    cursor: grab;
    transform: scale(1.15);
    filter: drop-shadow(0 0 .2rem black);
}

.Piece.Grabbed{
    pointer-events: none;
    position: absolute;
    z-index: 10;
    transform: scale(1.15);
    filter: drop-shadow(0 0 .2rem black);
}

.Selected > .Piece{
    transform: scale(1.15);
    filter: drop-shadow(0 0 .2rem black);
}

.Targettable > .Piece{
    filter: drop-shadow(0 0 1rem lightseagreen)
            drop-shadow(0 0 1rem lightseagreen);
}