.Piece{
    width: 10vmin;
    height: 10vmin;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9vmin;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.Piece.InCheck{
    filter: drop-shadow(0 0 1rem #ff5f52)
            drop-shadow(0 0 1rem #ff5f52);
}

.Piece:hover{
    cursor: grab;
    transform: scale(1.2);
    filter: drop-shadow(0 0 .2rem black);
}

.Piece.noGrab:hover{
    cursor: unset;
    transform: unset;
    filter: unset;
}

.Piece.Grabbed{
    pointer-events: none;
    position: absolute;
    transform: scale(1.2);
    filter: drop-shadow(0 0 .2rem black);
}

.Selected > .Piece{
    transform: scale(1.2);
    filter: drop-shadow(0 0 .2rem black);
}

.Targettable > .Piece{
    filter: drop-shadow(0 0 1rem #00838f)
            drop-shadow(0 0 1rem #00838f);
}

.Piece.p{
    background-image: url(./Pieces/b_p.svg);
}
.Piece.n{
    background-image: url(./Pieces/b_n.svg);
}
.Piece.b{
    background-image: url(./Pieces/b_b.svg);
}
.Piece.r{
    background-image: url(./Pieces/b_r.svg);
}
.Piece.q{
    background-image: url(./Pieces/b_q.svg);
}
.Piece.k{
    background-image: url(./Pieces/b_k.svg);
}

.Piece.P{
    background-image: url(./Pieces/w_p.svg);
}
.Piece.N{
    background-image: url(./Pieces/w_n.svg);
}
.Piece.B{
    background-image: url(./Pieces/w_b.svg);
}
.Piece.R{
    background-image: url(./Pieces/w_r.svg);
}
.Piece.Q{
    background-image: url(./Pieces/w_q.svg);
}
.Piece.K{
    background-image: url(./Pieces/w_k.svg);
}