#promotionModal{
    pointer-events: all;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 50%;
    left: 50%;
    height: 30vmin;
    width: 70vmin;
    transform: translate(-50%, -50%);
    border-radius: 5vmin;
    background-color: rgba(21, 21, 21, 0.5);
}

#promotionModal[disabled]{
    pointer-events: none;
    display: none;
}

#promotionModal > img{
    height: 15vmin;
    padding: 1vmin;
    border-radius: 5vmin;
    transition: 300ms;
}

#promotionModal > img:hover{
    cursor: pointer;
    height: 20vmin;
    filter: drop-shadow(0 0 .2rem black);
    background-color: rgba(255, 255, 255, 0.4);
    transition: 200ms;
}

.pq{
    content: url(../../Tile/Piece/Pieces/w_q.svg);
}
.pr{
    content: url(../../Tile/Piece/Pieces/w_r.svg);
}
.pb{
    content: url(../../Tile/Piece/Pieces/w_b.svg);
}
.pn{
    content: url(../../Tile/Piece/Pieces/w_n.svg);
}