.center {
  margin: 0 auto;
  align-self: center;
}

a {
  text-decoration: none !important;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
}

h1 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: black; /*white*/
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #4e4e50;
}

p {
  font-family: "Roboto", sans-serif;
  color: #08356b; /*white*/
}

body {
  background-color: white; /* #1A1A1D*/
}

button {
  margin-top: 3vh;
}

.label {
  color: #4e4e50;
  float: left;
}

.btn {
  border-radius: 2px;
  font-size: 15px;
  padding: 10px 19px;
  cursor: pointer;
}

.or-container {
  align-items: center;
  color: #ccc;
  display: flex;
  margin: 25px 0;
}

.line-separator {
  background-color: #ccc;
  flex-grow: 5;
  height: 1px;
}

.or-label {
  flex-grow: 1;
  margin: 0 15px;
  text-align: center;
}

.pages {
  float: left;
}

.authentication {
  float: right;
}

.signup-button {
  border-radius: 10px;
}

.signup-button:hover {
  background-color: #05386b;
  color: white !important;
}

.content {
  margin-left: 20px;
  margin-right: 20px;
}

.navbar {
  margin-left: 20px;
  margin-right: 20px;
}
