.Tile{
    width: 10vmin;
    height: 10vmin;
}

.Tile.Light{
    background-color: #F0D9B5;
}

.Tile.Dark{
    background-color: #B58863;
}

.Tile.Selected{
    background-color: #4fb3bf;
    z-index: 10;
}

.Tile.Highlighted{
    background-color: #ff5f52;
}

.Tile.LastMoved{
    background-image: radial-gradient(circle at center, transparent 50%, #cddc39 100%);
}

.Tile.Targettable{
    background-image: radial-gradient(circle at center, #00838f 20%, transparent 22%);
}

.Tile > p{
    margin-left: 0.3vmin;
    position: absolute;
    font-size: 1.5vmin;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.Tile.Light > p{
    color: #B58863
}

.Tile.Dark > p{
    color: #F0D9B5;
}