#gameOverModal {
  pointer-events: all;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 50%;
  left: 50%;
  height: 30vmin;
  width: 65vmin;
  transform: translate(-50%, -50%);
  border-radius: 5vmin;
  background-color: rgba(21, 21, 21, 0.8);
}

#gameOverModal[disabled] {
  pointer-events: none;
  display: none;
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 30%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(60%, -200%, 0);
  }
  100% {
    transform: translate3d(60%, -35%, 0);
  }
}
.animated-title {
  color: rgb(199, 199, 199);
  height: 30vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vmin;
  line-height: 1.2;
}
.animated-title > div {
  height: 65%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 3vmin;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid black;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  font-size: 10vmin;
  color: white;
}
.animated-title > div.text-bottom {
  top: 65%;
}
.animated-title > div.text-bottom button {
  width: 27vmin;
  height: 6vmin;
  font-weight: bolder;
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  transform: translate(0, -200%);
}

.bn5 {
  font-size: 2vmin;
  letter-spacing: 0.5vmin;
  padding: 0.6em 2em;
  border: 0.2vmin solid white;
  outline: none;
  color: white;
  background: #212121;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 3vmin;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 3vmin;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #212121;
  left: 0;
  top: 0;
  border-radius: 3vmin;
}